<launch>

  <node pkg="track_robot" type="track_robot_node" name="track_robot_node" output="screen" >
    <param name="endpoint_topic_name" type="str" value="/robot/limb/right/endpoint_state" />
    <param name="trigger_topic_name" type="str" value="/track/trigger" />
    <param name="rosbag_name" type="str" value="/home/y-lai/test_rosbag_1" />
    <param name="trigger_buffer" type="int" value="100" />
  </node>

</launch>
